@using TicariOtomasyon.Models.Siniflar
@model List<Cariler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<table class="table table-striped">
    <tr>
        <td>Cari ID</td>
        <td>Ad</td>
        <td>Soyad</td>
        <td>Şehir</td>
        <td>Mail</td>
        <td>Sil</td>
        <td>Güncelle</td>
        <td>Detaylar</td>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.CariId</td>
            <td>@x.CariAd</td>
            <td>@x.CariSoyad</td>
            <td>@x.CariSehir</td>
            <td>@x.CariMail</td>
            <td><a href="/Cari/CariSil/@x.CariId" class="btn btn-danger">Sil</a></td>
            <td><a href="/Cari/CariGetir/@x.CariId" class="btn btn-warning">Güncelle</a></td>
            <td><a href="/Cari/MusteriSatis/@x.CariId" class="btn btn-default" style="background-color: darkkhaki">Satış Geçmişi</a></td>
        </tr>
    }
</table>
<a href="/Cari/YeniCari/" class="btn btn-info">Yeni Cari Ekle</a>

